<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gigyaandroiddemos.gigya.com.GigyaAndroidDemos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Splash screen -->
        <activity
            android:name="gigyaandroiddemos.gigya.com.GigyaAndroidDemos.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gigyaandroiddemos.gigya.com.GigyaAndroidDemos.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.gigya.socialize.android.ui.HostActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.gigya.socialize.android.login.providers.WebLoginActivity"
            android:allowTaskReparenting="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- must be the all lowercase version of the package and without underscores -->
                <data android:scheme="gigyaandroiddemos.gigya.com.gigyaandroiddemos" android:host="gsapi" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.LoginActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

    </application>

</manifest>
